<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @url.name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @url.ip %>
</p>

<p>
  <strong>Description:</strong>
  <%= @url.description %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
